{% extends 'base.html' %}
{% load static %}

{% block title %}Вход{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}" />
{% endblock %}

{% block content %}
<div class="cards-centered-container">
    <div class="card card-centered">
        <h3 class="card-title">Вход в систему</h3>
        <form id="login-form" method="POST" action="{% url 'auth:login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="login" class="form-label">Имя пользователя</label>
                <input type="text" class="form-control" id="login" name="login" required>
            </div>
            <div class="form-group">
                <label for="password" class="form-label">Пароль</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="password" name="password" required>
                    <button type="button" class="password-toggle" aria-label="Показать/скрыть пароль">
                        <i class="bi bi-eye"></i>
                    </button>
                </div>
            </div>
            <button type="submit" class="btn btn-custom btn-glare btn-glare-primary">Войти</button>
            <div class="interactive-links">
                <a href="{% url 'auth:registration' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" class="interactive-link">Регистрация</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="module" src="{% static 'js/auth.js' %}"></script>
{% endblock %}