{% extends 'base.html' %}
{% load static %}
{% load self_assessment_filters %}

{% block title %}Самооценка{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/self_assessment.css' %}" />
{% endblock %}

{% block content %}
<div class="assessment-container">
    <form id="assessment-form">
        {% csrf_token %}
        <div class="direction-selection">
            {% for direction in directions %}
                <div class="card direction-card" data-direction="{{ direction.name|lower }}" onclick="window.location.href='{{ direction.url }}'">
                    <div class="card-content direction-content">
                        <div class="card-icon direction-icon">
                            <i class="bi {{ direction.icon }} pulse-ready"></i>
                        </div>
                        <div class="card-info">
                            <h3 class="card-name direction-name" data-text="{{ direction.name }}">{{ direction.name }}</h3>
                            <p class="card-description">{{ direction.items|length|pluralize:"продукт" }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/tooltip.js' %}"></script>
<script src="{% static 'js/self_assessment.js' %}"></script>
{% endblock %}