<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.namespace == 'profile' %}active{% endif %}" href="{% url 'profile:main' %}">
                            <i class="bi bi-person"></i> Профиль
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'self_assessment' %}active{% endif %}" href="{% url 'self_assessment' %}">
                            <i class="bi bi-clipboard-check"></i> Квалификации
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'certificate_main' %}active{% endif %}" href="{% url 'certificate_main' %}">
                            <i class="bi bi-award"></i> Сертификаты
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'selection' %}active{% endif %}" href="{% url 'selection' %}">
                            <i class="bi bi-search"></i> Выборка
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'employee_evaluation_main' %}active{% endif %}" href="{% url 'employee_evaluation_main' %}">
                            <i class="bi bi-graph-up"></i> Сводка
                        </a>
                    </li>
                    {% if role == 'admin' %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.namespace == 'control' %}active{% endif %}" href="{% url 'control:statistics' %}">
                            <i class="bi bi-gear"></i> Управление
                        </a>
                    </li>
                    {% endif %}
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'logout' %}active{% endif %}" href="{% url 'auth:logout' %}">
                            <i class="bi bi-box-arrow-right"></i> Выход
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'login' %}active{% endif %}"
                           href="{% url 'auth:login' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">
                            <i class="bi bi-box-arrow-in-right"></i> Вход
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'registration' %}active{% endif %}"
                           href="{% url 'auth:registration' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">
                            <i class="bi bi-person-plus"></i> Регистрация
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>