{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SKA - Система контроля компетенций">
    <title>{% block title %}SKA{% endblock %}</title>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/source-sans-3.css' %}">
    <link rel="stylesheet" href="{% static 'background/css/background.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/cards.css' %}" />
    {% block extra_css %}{% endblock %}

    <link rel="shortcut icon" href="{% static 'img/icon.png' %}" />

    <!-- Глобальные переменные -->
    <script type="text/javascript">
        // Фоновое изображение
        document.documentElement.dataset.backgroundImage = "{{ request.background_image }}";

        // URL для AJAX-запросов
        window.urls = {
            profile_update: "{{ urls.profile_update }}",
            self_assessment_upload: "{{ urls.self_assessment_upload }}",
            selection_disciplines: "{{ urls.selection_disciplines }}",
            selection_employees: "{{ urls.selection_employees }}",
            employee_evaluation_subordinates: "{{ urls.employee_evaluation_subordinates }}",
            employee_evaluation_subordinates_filter: "{{ urls.employee_evaluation_subordinates_filter }}",
            employee_evaluation_about: "{{ urls.employee_evaluation_about }}",
            employee_evaluation_about_block: "{{ urls.employee_evaluation_about_block }}",
            certificate_delete: "{{ urls.certificate_delete }}",
            certificate_main: "{{ urls.certificate_main }}",
            auth_login: "{{ urls.auth_login }}",
            auth_registration: "{{ urls.auth_registration }}"
        };
    </script>
</head>
<body>
    <div class="blur-overlay"></div>

    {% include "includes/sidebar.html" %}

    <main class="container-fluid">
        {% include "includes/snackbar.html" %}
        <div class="content-wrapper">
            {% block content %}{% endblock %}
        </div>
    </main>

    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'background/js/background.js' %}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% if messages %}
                {% for message in messages %}
                    showSnackbar("{{ message }}");
                {% endfor %}
            {% endif %}
        });
    </script>
    {% block extra_js %}{% endblock %}
</body>
</html>