{% extends 'base.html' %}
{% load static %}

{% block title %}Certificate | About{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/certificate_about.css' %}" />
{% endblock %}

{% block content %}
<div id="content">
{% include "sidebar.html" %}
<div class="row">
    <div id="info" class="column left">
        <p><button onclick="location.href = '/certificate'" class="navigation-button">Назад</button></p>
        <div>
            <h2>Информация о сертификате</h2>
            <strong>ID:</strong>
            <p id="id" class="certificate-data">{{ certificate.id }}</p>
            <strong>Название:</strong>
            <p id="name" class="certificate-data">{{ certificate.name }}</p>
            <strong>Тип:</strong>
            <p id="type" class="certificate-data">{{ certificate.type }}</p>
            <strong>Дата:</strong>
            <p id="date" class="certificate-data">{{ certificate.date }}</p>
            <strong>Категория:</strong>
            <p id="category" class="certificate-data">{{ certificate.category }}</p>
            <strong>Подкатегория:</strong>
            <p id="sub-category" class="certificate-data">{{ certificate.subcategory }}</p>
        </div>
        <div>
            <p>
                <button id="delete" class="navigation-button">Удалить</button>
            </p>
        </div>
    </div>
    <div id="file" class="column right">
        {% if certificate.is_pdf %}
            <embed id="pdf" src="{{ certificate.file }}">
        {% else %}
            <img id="image" src="{{ certificate.file }}" alt="Certificate" width="100%">
        {% endif %}
    </div>
</div>
</div>

<dialog id="delete-confirmation-modal">
    <p>
        Вы уверены, что хотите удалить данный сертификат?
    </p>
    <p>
        <button id="confirm-delete" class="navigation-button">Да</button>
        <button id="cancel-delete" class="navigation-button">Нет</button>
    </p>
</dialog>
{% endblock %}

{% block extra_js %}
<script src="{% static 'GlobalJS/sidebar.js' %}"></script>
<script src="{% static 'GlobalJS/snackbar.js' %}"></script>
<script src="{% static 'JS/certificate_about.js' %}"></script>
{% endblock %}